---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<div class="notice--info" style="margin-bottom: 2rem;">
  <h1 style="margin-top: 0; font-size: 2.5rem;">This section is still under development</h1>
  <p style="margin-bottom: 0; font-size: 1.2rem;">Will be uploading new projects soon!</p>
</div>

{% assign sorted_projects = site.projects | sort: 'date' | reverse %}
{% for post in sorted_projects %}
  {% include archive-single.html %}
{% endfor %} 